<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span4 news-letter">
				<h1>NEWSLETTER</h1>
				<div ng-show="showEmailInput">
					<p>Sign up for sneak peeks and sales!</p>
					<form name="emailForm"class="form-search" novalidate>
  					<fieldset>
    					<label>Enter your email address:</label>
    					<input type="email" placeholder="Type your email" ng-model="obj.email" required>
    					<button class="btn" ng-click="submitEmail()" ng-disabled="emailForm.$invalid">Submit</button>
  					</fieldset>
					</form>
				</div>
				<div ng-hide="showEmailInput">
					<p>Tanks for give us your e-mail!.</p>
					<p>We will keep in touch, to let you know about our promotions and events.</p>
				</div>
				<p ng-show="repeatEmail" class="repeatEmail">This email is already submited :(</p>
			</div>
			<div class="span4">
				<div class="fb-like" data-href="https://www.facebook.com/blacksunstorecr" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-colorscheme="dark"></div>
			</div>
			<div class="span4 news-letter">
				<h1>STALK US!</h1>
				<div class="social-cont">
					<p>To get promotions and awesome things</p>
					<ul class="inline">
						<li>
							<a href="https://www.facebook.com/blacksunstorecr" target="_blank">
								<img src="images/facebook.png"  alt="facebook social icon" width="45" heigth="45">
							</a>
						</li>
						<li>
							<a href="https://twitter.com/blacksunstore" target="_blank">
								<img src="images/twitter.png"   alt="twitter social icon" width="45" heigth="45">
							</a>
						</li>
						<li>
							<a href="http://instagram.com/blacksunstore" target="_blank">
								<img src="images/instagram.png" alt="instagram social icon" width="45" heigth="45">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12 down"></div>
		</div>
		<div class="row">
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span4">
				<h1>algo</h1>
			</div>
		</div>
		<div class="row">
			<div class="span12 down"></div>
				<div class="span12">
					<a ng-click="openModal()">modal</a>
				</div>
		</div>
	</div>
</div>

<modal template="views/modals/adminlogin.html" show="modal.show" modaldata="modal.data" callback="modal.callback" max-width="365px" max-height="290px"></modal>
