<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span4 news-letter">
				<h1>NEWSLETTER</h1>
				<p>Sign up for sneak peeks and sales!</p>
				<form class="form-search">
  				<fieldset>
    				<label>Enter your email address:</label>
    				<input type="text" placeholder="Type something…">
    				<button type="submit" class="btn">Submit</button>
  				</fieldset>
				</form>
			</div>
			<div class="span4">
				<div class="fb-like" data-href="https://www.facebook.com/blacksunstorecr?fref=ts" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-colorscheme="dark"></div>
			</div>
			<div class="span4 news-letter">
				<h1>STALK US!</h1>
				<div class="social-cont">
					<p>To get promotions and awesome things</p>
					<ul class="inline">
						<li>
							<a href="https://www.facebook.com/blacksunstorecr" target="_blank">
								<img src="images/facebook.png"  alt="facebook social icon" width="45" heigth="45">
							</a>
						</li>
						<li>
							<a href="https://twitter.com/blacksunstore" target="_blank">
								<img src="images/twitter.png"   alt="twitter social icon" width="45" heigth="45">
							</a>
						</li>
						<li>
							<a href="http://instagram.com/blacksunstore" target="_blank">
								<img src="images/instagram.png" alt="instagram social icon" width="45" heigth="45">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12 down"></div>
		</div>
		<div class="row">
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span2">
				<h1>algo</h1>
			</div>
			<div class="span4">
				<h1>algo</h1>
			</div>
		</div>
		<div class="row">
			<div class="span12 down"></div>
		</div>
	</div>
</div>
