<div class="header">
	<div class="black-line">
		<div class="container">
			<div class="pull-right">
				<ul class="inline">
					<li><a href="#">Order Status</a></li>
					<li><a href="#">Help</a></li>
					<li>
						<ul class="inline log-in">
							<li>LOG IN</li>
							<li>/</li>
							<li>JOIN US!</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="logo-head">
		<div class="container">
			<div class="pull-left">
				<div class="pull-left logo">
					<a href="#/"><img src="images/logo.png" alt="BlackSun Logo"></a>
				</div>
				<div class="pull-right">
					<ul class="inline logo-menu">
						<li><a href="#/shop">SHOP</a></li>
						<li><a href="#">BLOG</a></li>
						<li><a href="">CONTACT US!</a></li>
					</ul>
				</div>
			</div>
			<div class="pull-right">
				<ul class="inline search-cart">
					<li>
						<div class="input-prepend">
      				<span class="add-on"><i class="icon-search"></i></span>
      				<input class="span2" id="inputIcon" type="text">
    				</div>
					</li>
					<li><i class="icon-shopping-cart"></i></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="yellow-line">
		
	</div>
</div>