<div class="head">
	<h1>ADMINISTRATOR LOGIN</h1>
</div>
<div class="body">
	<form action="">
		<fieldset>
			<label for="username" class="font-medium">USERNAME</label>
			<input class="" type="text" name="username" id="username" class="font-bold" ng-model="data.obj.usr">
		</fieldset>
		<fieldset>
			<label for="password" class="font-medium">SECRET PIN</label>
			<input class="" type="password" name="password" id="password" class="font-bold" ng-model="data.obj.pin">
		</fieldset>
		<fieldset>
			<label for="password" class="font-medium">PASSWORD</label>
			<input class="" type="password" name="password" id="password" class="font-bold" ng-model="data.obj.pass">
		</fieldset>
	</form>
</div>
<div class="Mfooter">
	<a ng-click="callback.loginAdmin()">LET'S ADMIN THIS PAGE!</a>
</div>