<carousel interval="myInterval">
  <slide ng-repeat="slide in slides" active="slide.active">
    <a href="#/"><img ng-src="{{slide.url}}" style="margin:auto;"></a>
  </slide>
</carousel>

<div class="adds">
 <div class="row">
   
 </div> 
</div>

<div class="sale-adds">
  <div class="row">
    <div class="pull-left margin-20">
      <img src="http://placekitten.com/620/300">
    </div>
    <div class="pull-right">
      <img src="http://placekitten.com/320/300">
    </div>
  </div> 
  <div class="row">
    <div class="pull-left margin-20">
      <img src="http://placekitten.com/320/300">
    </div>
    <div class="pull-right no-margin">
      <img src="http://placekitten.com/620/300">
    </div>
  </div> 
</div>

<div class="adds-two">
  <div class="row">
   
  </div> 
</div>

<div class="sale-adds">
  <div masonry="{ transitionDuration: '0.6s' }">
    <div class="masonry-brick insta-parent" ng-repeat="image in instagram_feed">
      <img ng-src="{{image.image}}" alt="A masonry brick" width="{{image.imgWidth}}" height="{{image.imgHeight}}">
      <div ng-click="imgeModal(image)" class="instaOverlay" style="width:{{image.imgWidth}}px;height:{{image.imgHeight}}px;margin-top:-{{image.imgHeight}}px;">
        <img src="images/zoom-in-yellow.png" alt="">
      </div>
    </div>
  </div>
  <div ng-click="loadImages()" class="loadmore">WATCH MORE OF OUR COOL PICS!</div>
</div>

<div class="instaModal" ng-show="instaModal">
  <p ng-click="closeInstaModal()">X</p>
  <div class="modal-image">
    <img ng-src="{{highImage}}" alt="">
    <ul class="inline next-prev">
      <li ng-click="prevImg()">prev</li>
      <li ng-click="nextImg()">next</li>
    </ul>
    <ul class="inline">
      <li>{{likes}}<i class="icon-heart icon-white"></i></li>
      <li>{{caption}}</li>
    </ul>
  </div>
</div>
